<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <div class="messages-container">
        <% messages.forEach(message => { %>
            <article>
              <div class="top-row">
                <p><%= message.user%></p>
                <p><%= message.added%></p>
              </div>
              <p><%= message.text%></p>
            </article>
        <% }); %>
      </div>
    </main>
  </body>
</html>
