<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <% messages.forEach(message => { %>
          <article>
            <div class="top-row">
              <p><%= message.user%></p>
              <p><%= message.added%></p>
            </div>
            <p><%= message.text%></p>
          </article>
      <% }); %>

    </main>
  </body>
</html>
